@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer,
header {
  width: 100%;
  background-color: rgb(255, 86, 86);
  text-align: center;
  color: white;
  font-size: 30px;
}

footer {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
}

main {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.settings {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 10px 0;
}

/* Text only (ex. 16x16) */
.grid-size {
  font-size: 20px;
  font-weight: 600;
}

.grid {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* Clear Button */
#clear {
  font-size: 20px;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  background-color: rgb(192, 192, 192);
  transition: 0.1s;
}
#clear:hover {
  transform: scale(1.1);
}
#clear:active {
  background-color: rgb(73, 73, 73);
  color: white;
}

/* Slider  */
.slide-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.slider {
  /* -webkit-appearance: none; */
  appearance: none;
  width: 200px;
  height: 10px;
  background: lightgrey;
  color: green;
  outline: none;
  border-radius: 10px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #686767;
  cursor: pointer;
}

/* Color Picker */
#randomizer {
  accent-color: black;
}

.color div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-picker::-webkit-color-swatch {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 50%;
  border: none;
}

/* MEDIA QUERIES */

@media (max-height: 800px) {
  .container {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 800px) {
  body {
    justify-content: space-between;
  }

  header {
    font-size: 25px;
  }

  main {
    width: 100vw;
    gap: 0;
  }

  .container {
    width: 300px;
    height: 300px;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
}