* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


#clear {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 8px 24px;
  border: 1px solid black;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.change-color {
  background-color: rgb(20, 20, 20);
}

.slider {
  /* -webkit-appearance: none; */
  appearance: none;
  width: 300px;
  height: 8px;
  background: lightgrey;
  color: green;
  outline: none;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}